@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Quicksand", serif;
    margin: 0;
    padding: 0;
}

main{
    width: 1250px;
    margin: 0px auto;
}
/* header section*/
.header{
    max-width: 1250px;
    margin: 0px auto;
    margin-top: 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;        

}
.logo h2{
    font-size: 2rem;
    font-family: 700;
}

a{
    text-decoration: none;
    margin-right: 32px;
}
.header button{
    background: rgba(254, 163, 1, 1);
    color: aliceblue;
    border: 0;
    border-radius: 12px;
    height: 50px;
    width: 197px;
    font-size: 1.25rem;
    font-weight: 600;
}

#home{
    color: rgba(254, 163, 1, 1);
    font-weight: 700;
}
#about{
    color:rgba(1, 172, 253, 1) ;
    font-weight:500 ;
}
#faci{
    color: rgba(5, 212, 223, 1);
    font-weight:500 ;
}
#add{
    color: #5D58EF;
    font-weight:500 ;
}


.nav-icon i , .nav-icon{
    display: none;
}





/* Banner - section */
.banner{
    width: 1250px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 640px;
}

.banner-content h1{
    font-size: 3.5rem;
    font-weight: 700;
}
#org{
    color: rgba(254, 163, 1, 1);
}
#blue{
    color: rgba(1, 172, 253, 1);
}

.banner-content p{
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 24px;
}

.banner-content button{
    width: 197px;
    height: 50px;
    background: #000;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 24px;
}   


/* Main section start */
.main{
    
    padding-bottom: 60px;
    background: url(./assets/bg.png), linear-gradient(to top, rgb(240, 220, 186) 10%, rgba(255, 126, 95, 0) 50%);

}


.curriculam-cards{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.curriculam h1{
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
}
.card{
    max-width: 367px;
    padding: 50px;
    text-align: center;
    border-radius: 19px;
    margin-top: 80px;
    background: linear-gradient(to bottom, rgba(222, 245, 255, 1) 10%,rgba(255, 255, 255, 1) 30%);
    border: 1px solid rgba(222, 245, 255, 1);
}
.card h3{
    font-size: 1.53rem;
    font-weight: 700;
    margin-top: 30px;
}
.card p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 28px;
    margin-top: 34px;
    color: rgba(128, 128, 128, 1);
}
#rm1{
    color: rgba(100, 200, 255, 1);
}

#card2{
    background: linear-gradient(to bottom, rgba(255, 244, 220, 1) 10%,rgba(255, 255, 255, 1) 30%);
    border: 1px solid rgba(255, 244, 220, 1);
}
#rm2{
    color: rgba(240, 170, 0, 1);
}

#card3{
    background: linear-gradient(to bottom, rgba(242, 232, 255, 1) 10%,rgba(255, 255, 255, 1) 30%);
    border: 1px solid rgba(242, 232, 255, 1);
}
#rm3{
    color: rgba(135, 0, 255, 1);
    
}

.arrows{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    margin-top: 80px;
    margin-bottom: 60px;
}
.arrow{
    height: 60px;
    border-radius: 30px;
    background:rgba(254, 163, 1, 1);
    width: 60px;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

/* story section */

.Our-Stories{
    display: flex;
    justify-content: space-around;
    
}

/* .story1,.grid-stories{
    background: white;
} */
.Stories h1{
    font-size: 2.9rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 80px;
    margin-top: 60px;

}
.story1 img{
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.story1{
    width: 541px;
    border-radius: 16px;
    border: 1px solid black;

    position: relative;

}

.story1 button{
    background: rgba(60, 216, 232, 1);
    border-radius: 48px;
    color: white;
    font-family: "Raleway", serif;
    width: 175px;
    height: 48px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    margin-left: 38px;

    position: absolute;
    left: 0px;
    top: 310px;

}

.story1 h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 50px;
    margin-left: 38px;
    margin-top: 35px;
}

.story1 p{
    font-size: 1rem;
    font-weight: 600;
    line-height: 29px;
    color: rgba(102, 102, 102, 1);
    margin-left: 38px;
    margin-bottom: 34px;
}

/* Grid Stories */
.grid-story img{
    border-radius: 16px 16px 0 0;
}
.grid-story{
    width: 290px;
    border-radius: 16px;
    border: 1px solid black;

    position: relative;
}

.grid-story button{
    width: 174px;
    height: 39px;
    background: rgba(149, 178, 38, 1);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Raleway", serif;
    border: 0;
    border-radius: 48px;
    margin-left: 38px;

    position: absolute;
    top: 160px;
}

.grid-story h3{
    font-size: 1rem;
    line-height: 29px;
    margin-left: 38px;
    margin-bottom: 34px;
    margin-top: 24px;
}
#spbtn{
    background: rgba(93, 88, 240, 1);
}

.grid-stories{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.story-btn{
    display: flex;
    justify-content: center;
}

.story-btn button{
    width: 197px;
    height: 50px;
    background: #000;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 24px;
    text-align: center;
    margin-top: 80px;
 
}

.ms{
    display: none;
}


/* footer-section */

footer{
    background: rgba(1, 172, 253, 1);
    color: white;
    
}
.footer{
   
    display: flex;
    justify-content: space-around;
    
}

.footer1,.footer2,.footer3{
    margin-bottom: 180px;
    margin-top: 123px;
}

.logo img{
    height: 81px;
}
.logo h2{
    line-height: 40px;
    font-size: 2rem;
    font-weight: 700;
}

.footer1-content p{
    width: 400px;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 35px;
}


.footer2 h4{
    font-size: 1.5rem;
    margin-bottom: 34px;
}

.footer2 a{
    color: white;
    font-size: 1.2rem;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer3 h3{
    font-size: 1.6rem;
    margin-bottom: 32px;
}


.story1{
    background: white;
    border: 0;
}

.grid-story{
    background: white;
    border: 0;
}


/* Marquee */
.marquee{
    width: 1000px;
    margin: 0px auto;
    font-size: 50px;
    font-weight: 700;
    color: rgb(236, 95, 43);
}